<tr>
<td height="28" width="90%">{url}</td>
<td width="10%">
   	<a onclick="delete_filter({filter_id}); return false;"  href="#"><img title="Удалить фильтр" src="images/icons/cross.png"></a>
</td>
</tr>