<a href="#" onclick='edit_output_dialog({output_id}); return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;
<a onclick="delete_output({channel_id}); return false;"  href="#"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
