        <a href="#" onclick='$("#astra-edit-api-f #auth_api").val("{auth_api}");
                             $("#astra-edit-api-f #astra_id").val("{astra_id}");
                             edit_api_dialog();
                             return false;'><i class="uk-icon-lock uk-icon-small" style="color: grey" title="Установить пароль для API"></i></a>&nbsp;&nbsp;

        <a href="#" onclick='$("#astra-edit-form-f #name").val("{name}");
                             $("#astra-edit-form-f #astra_id").val("{astra_id}");
                             $("#astra-edit-form-f #control_server_addr").val("{control_server_addr}");
                             $("#astra-edit-form-f #event_request").val("{event_request}");
                             $("#astra-edit-form-f #astra_mask").val("{astra_mask}");
                             edit_astra_dialog();
                             return false;'><i class="uk-icon-cog uk-icon-small" title="Редактировать"></i></a>&nbsp;&nbsp;

        <a href="{php_self}?plugin=astras&action=reload_astra&astra_id={astra_id}" onclick="return confirm('Перезагрузить астру?')"><i class="uk-icon-refresh uk-icon-small" style="color: green;" title="Перезагрузить астру"></i></a>
        &nbsp;&nbsp;<a href="{php_self}?plugin=astras&action=delete_astra&astra_id={astra_id}" onclick="return confirm('Удалить экземпляр?')"><i class="uk-icon-times uk-icon-small" style="color:red" title="Удалить"></i></a>
